{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mb-3 mt-3">Add Stock</h2>
<div class="container mx-auto">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 ">
    <label class="form-label">Add Stock</label>
     <input type="number" class="form-control w-50 " value="{{pro.stock}}" name="s" placeholder="Add stock">
    </div>
     <div class="mb-5">
    <input type="submit" value="ADD">
    </div>
    </form>
    </div>
{% endblock %}